

/* Inicio CSS */
body{
    background: #100E17;
    margin: 0px;
    padding-block-end: 500px;

}
.menu li {
list-style-type: none;
margin: 30px 20px;
font-family: Roboto;

}

.menu ol{
    display: flex;
    justify-content: center;
    background-color: #1e1e24;
    margin: 0px;
    padding:20px;
}
a{
    color: white;
    font-family: roboto;
}

.hello p{
    
    background-color: #0bbba0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    text-align: center; 
    font-family: Roboto;
}

.hello {
    width: 100px;
}

.home{
    /* border: 1px solid red; */
    /* margin-top: 180px; */
    display: inline-block;
    /* justify-content: space-evenly; */
    /* margin: 0px 150px; */
    /* background-image: url(./imagenes/home-bg-img.jpg); */
    width: 98%;
    margin: 0px;

}

.informacion{
    /* border: 1px solid red; */
    /* margin-left: -40px; */
    /* margin-right: 50px; */
    float: left;
    width: 476px;
    margin-left: 120px;
    padding-top: 40px;
    position: relative;
    margin-top: -700px;
    color: white;
    margin-bottom: 0px;
    
}

.nombre {

    /* border: 1px solid red; */
}

.miNombre{
    font-size: 60px;
    margin: 20px 0px;
    font-family: "roboto", sans-serif;
}

.profe{
    font-size: 26px;
    margin: 25px 0px;
    font-family: "roboto", sans-serif;
}


.foto img{
    width: 360px;
    border: 20px solid black;
    border-radius: 50%;
    padding: 20px;
}

.foto{
    display: flex;
    justify-content: center;
    /* border: 5px solid red; */
    float: right;
    width: 400px;
    margin-right: 250px;
    margin-top: -700px;
    margin-bottom: 0px;
}

.foto figure{
    margin: 0px 250px;
    position: relative;
}

.nombre img{
    width: 15px;
    margin: 0px 10px;
}

.icons img{
    width: 30px;
    margin: 0px 10px;
}



.fondoHome img{
    width: 110%;
    filter: brightness(0.2);
    object-fit: cover;

}

.about{
    width: 100%;
    background-color: #100E17;
    margin: 0px;
}

.about-info li {
    list-style-type: none;
    margin: 30px 20px;
    font-family: Roboto;
}

.about-container{
    display: inline-block;
}


.about-img img{
    width: 600px;
    /* margin-left: 10px; */
}

.about-img{
    float: left;
    margin-left: 40px;
}

.about-info{
    float: right;
    width: 500px;
    color: white;
    font-family: Roboto;
    margin-left: 80px;
}

.about-info ol li{
    border: 1px solid #0bceaf;
    border-radius: 4px;
    padding: 4px 10px;
}
.about-info ol{
    display: flex;
    margin-top: 20px;
    margin-left: -60px;
}

.menu li:hover{
    color:#0bceaf;
}

.icons img:hover{
    color: #0bceaf;
    
}

#proyectos{
    
    width: auto;
    height: 1000px; 
    padding-top: 70px;  
}

.listaproyectos{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.proyecto{
    width: 300px;
    height: 400px;
    background-color: red;
    margin: 20px 0px;
}

.proyecto-imagen{
    width: 200px;
    height: 150px;
}
.proyecto-imagen img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.proyecto-container{
    width: 300px;
    height: 220px;
}
.proyecto-container p{
    text-align: center;
    color: white;
}






@media screen and (max-width: 1085px){

    body{
        width: 1085px !important;
    }
    .menu, .menu nav, .menu nav ol{
        width:100%;
    }
    .menu{
        display: block;
        width: 100%;
        position: fixed;
        z-index: 100;   
    }

    .menu ol li{
        width: 100%;
    }
    .informacion{
        margin-left: 50px;
        margin-top: -515px;
    }
    .foto{
        margin-right: 150px;
        margin-top: -515px;
    }
    .about-info{
    
    width: 450px;
    margin-left: 110px;
    }
    .about-img img {
        width: 400px;
        margin-left: 15px;
        margin-top: 45px;
    }
}


@media screen and (min-width: 1800px){

    .hello {
        width: 270px;
    }

    .menu li {
        font-size: 30px;
    }
    .miNombre {
        font-size: 80px;
    }

    .hello p{
        padding: 15px;
        font-size: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 40px;
    }
    .informacion{
        margin-left: 310px;
        margin-top: -615px;
    }
    .foto{
        margin-right: 465px;
        margin-top: -620px;
    }

    .fondoHome img{
        height: 700px;
    }
    .about-container {
        width: 100%;
    }
    .about-img {
        margin-left: 200px;
        margin-top: 50px;
    }
    .about-info{
        margin-right: 370px;
    }
    .about-info h1{
        font-size: 50px;
    }
    .about-info p{
        font-size: 20px;
    }

}